/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color:#bdc3c7;
}

.profil {
    width: 250px;
    background-color: #31363b;
    box-shadow: 0 2px 6px black;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Montserrat';
    color: white;
    font-size: 1.5rem;
}

p {
    font-family: 'Source Sans Pro';
    color: rgb(206, 206, 206);
    font-size: 0.9rem;
}

.obsah {
    padding: 0 20px;
    text-align: left;
}

.foto {
    width: 250px;
    position: static;
}

.logo {
    position: absolute;
    left: 820px;
    top: 145px;
    background-color: #b92e81;
    border-radius: 50%;
    box-shadow: 0 2px 10px black;
}

.odkazy {
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-align: center;
    padding-left: 0;    
}

.odkazy li {
    display: inline-block;
    height: 3rem;
    font-weight: 600;
    border-top: 1px #3f464d solid;  
}

.odkazy a {
	display: block;
	color: white;
    text-decoration: none;
    padding: 0.9rem 0;
}

.facebook,
.twitter {
    width: 50%;
}

.facebook {
    border-right: 1px #3f464d solid;
}

.portfolio {
    width: 100%;
}

.portfolio a:hover {
	background-color: #e74c3c;
}

.facebook a:hover {
	background-color: #3b5998;
}

.twitter a:hover {
	background-color: #1da1f2;
}
